<configuration>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/tttsFeedS.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <!-- rollover daily -->
	        <fileNamePattern>tttsFeedMS-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
	        <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
	        <!-- or whenever the file size reaches 100MB -->
	        	<maxFileSize>1MB</maxFileSize>
	        </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
	    <encoder>
	      <pattern>%msg%n</pattern>
	    </encoder>
	</appender>

	<root level="DEBUG">
	  <appender-ref ref="ROLLING" />
	</root>

</configuration>